<h2>Index</h2>
<h3><a href="/student/signup">Add Student</a></h3>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Gender</th>
        <th>Profession</th>
        <th>Student ID</th>
        <th>Email</th>
        <th>DOB</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.username</td>
            <td>@item.gender</td>
            <td>
                <ul>
                    @foreach (var pr in item.profession)
                {
                    <li>
                        @pr
                    </li>
                }
                    </ul>
            </td>
            <td>@item.studentID</td>
            <td>@item.email</td>
            <td>@item.dob</td>
        </tr>
    }
</table>